build
build/*

.*
.*/*

workspace/cmake-build-debug
workspace/cmake-build-debug/*

workspace/CPUDiffusion
workspace/perf*
workspace/*.safetensors
workspace/*.dot
workspace/*.trepr
workspace/*.grepr
workspace/*.traw

workspace/out
workspace/out/*

lib/src/**/*.o